<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet"> 
<div class="" style="background-color: lawngreen; width: 100%;">
    <section class="card" data-aos="fade-right" >
        <img src="assets/img/m.jpg" alt="">
        <div>
            <h3 >We Plan & Design Weddings
                <br>That Capture the Imagination</h3>
            <p >
                Weddings are significant events in people’s lives and as such, couples are often willing to spend considerable amount of money to ensure that their weddings are well-organized. Wedding planners are often used by couples who work long hours and have little spare time available for sourcing and managing wedding venues. </p>
            <p style="opacity:1;">From 69 million online shoppers in 2016 and more than 300 million in 2020, India has seen a stark rise in the internet population.
            </p>
        </div>
    </section>

    <section class="card" data-aos="fade-left" style="background-image: url(assets/img/bday.jpg);background-repeat: no-repeat;">
        <img src="assets/img/bday1.jpg" alt="">
        <div>
            <h3>Our Objective:</h3>
            <p>To help you reach the right audience for your business. </p>
            <p>To helps you to engage with your audiance more.</p>
            <p>Motivate your audiance/customer to take your desired action.  </p>
            <p>We help you to maximize your return on Investment (ROI) through Digital Marketing. </p>
        </div>
    </section>

    <section class="card" data-aos="fade-right">
        <img src="assets/Image/ss2.png" alt="">
        <div>
            <h3>Our SEO services include.</h3>
            <p>Keyword Research </p>
            <p>Technical SEO</p>
            <p>Full SEO Audits </p>
            <p>SEO Consulting </p>
        </div>
    </section>

    <section class="card" data-aos="fade-left">
        <img src="assets/Image/ss3.png" alt="">
        <div>
            <h3>Our full suite of social media & email marketing services includes.</h3>
            <p>Social Media Advertisement </p>
            <p>Community Engagement</p>
            <p>Social Media Consulting</p>
            <p>Email Campaign </p>
        </div>
    </section>

    <section class="card" data-aos="fade-right">
        <img src="assets/Image/ss4.png" alt="">
        <div>
            <h3>We offer a full range of web design & development services including.</h3>
            <p>Website Design</p>
            <p>Website Coding </p>
            <p>Application Development </p>
            <p>Website  & Application Maintanence </p>
        </div>
    </section>
</div>


<div class="container">
    <div class="in-title">
        <h2>Prepare for Future Business Challenges <span> with Our Software Maintenance and Support Services.</span>
        </h2>
    </div>
    <div class="s-box wow py-4 right animated" style="visibility: visible;" data-aos="fade-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" >
        <div class="media">
            <div class="align-self-center simg order-md-2 order-1"> <img class="img-fluid"
                    src="assets/Image/service-01.png"
                    alt="Generic placeholder image"></div>
            <div class="media-body pr-lg-5 pr-md-4 pr-0 order-md-1 order-2">
                <h3 class="">Excellent Support</h3>
                <p class="">We also have a dedicated Support Staff and Team to help our clients with additional support
                    in terms of troubleshooting and resolving a bug hindering your product’s overall performance. Our
                    support varies in business, application, size, and cost specific to each project.</p>
            </div>
        </div>
    </div>
    <div class="s-box wow py-4 left animated" style="visibility: visible;" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" >
        <div class="media">
            <div class="align-self-center simg"> <img class="img-fluid"
                    src="assets/Image/service-02.png"
                    alt="Generic placeholder image"></div>
            <div class="media-body pl-lg-5 pl-md-4 pl-0">
                <h3 class="">Corrective Maintenance</h3>
                <p class="">The corrective measure aspect is also a viable part of our maintenance team. We make sure to
                    examine, test, and resolve the problems in designing, user interface, menus, logic, and fundamental
                    problems in coding. Our team is well experienced in quickly detecting and correcting software and
                    application testing.</p>
            </div>
        </div>
    </div>
    <div class="s-box wow py-4 right animated" style="visibility: visible;" data-aos="fade-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" >
        <div class="media">
            <div class="align-self-center simg order-md-2 order-1"> <img class="img-fluid"
                    src="assets/Image/service-03.png"
                    alt="Generic placeholder image"></div>
            <div class="media-body pr-lg-5 pr-md-4 pr-0 order-md-1 order-2">
                <h3 class="">Adaptive Maintenance</h3>
                <p class="">Adaptive Maintenance is required where and when your application ceases to function properly
                    after you upgrade your computers or other devices. Our maintenance team works on supporting your
                    software after any change in data, regulations, or operating system alongside ensuring that your
                    software work stably and reliably in the new, altered environment.</p>
            </div>
        </div>
    </div>
    <div class="s-box wow py-4 left animated" style="visibility: visible;" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" >
        <div class="media">
            <div class="align-self-center simg"> <img class="img-fluid"
                    src="assets/Image/service-04.png"
                    alt="Generic placeholder image"></div>
            <div class="media-body pl-lg-5 pl-md-4 pl-0">
                <h3 class="">Preventative Maintenance</h3>
                <p class="">In the situation where your end-users come with similar complaints and experienced several
                    problems in the product. Our maintenance team then make sure that your software bugs get fixed
                    immediately while ensuring that it will run properly going forwards as your organization grows.</p>
            </div>
        </div>
    </div>
    <div class="s-box wow py-4 right animated" style="visibility: visible;" data-aos="fade-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" >
        <div class="media">
            <div class="align-self-center simg order-md-2 order-1"> <img class="img-fluid"
                    src="assets/Image/service-05.png"
                    alt="Generic placeholder image"></div>
            <div class="media-body pr-lg-5 pr-md-4 pr-0 order-md-1 order-2">
                <h3 class="">Perfective Maintenance</h3>
                <p class="">JVM Infotech also work in perfecting the maintenance cycle process for its clients. In case
                    you need to add a new feature or match the latest user requirements, we will help you by
                    restructuring the code, modifying some minor sections, and inserting new codes to improve the
                    functionality.</p>
            </div>
        </div>
    </div>
</div>